body{
    font-family: 'Heebo', sans-serif;
    background-color: #47c2fe;

background-image:  linear-gradient(30deg, #a535f2 12%, transparent 12.5%, transparent 87%, #a535f2 87.5%, #a535f2), linear-gradient(150deg, #a535f2 12%, transparent 12.5%, transparent 87%, #a535f2 87.5%, #a535f2), linear-gradient(30deg, #a535f2 12%, transparent 12.5%, transparent 87%, #a535f2 87.5%, #a535f2), linear-gradient(150deg, #a535f2 12%, transparent 12.5%, transparent 87%, #a535f2 87.5%, #a535f2), linear-gradient(60deg, #a535f277 25%, transparent 25.5%, transparent 75%, #a535f277 75%, #a535f277), linear-gradient(60deg, #a535f277 25%, transparent 25.5%, transparent 75%, #a535f277 75%, #a535f277);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
display: inline;
cursor: cell;


}

.login{
    float: left;
    background-color: white;
    width: 50%;
    display: inherit;
    border: solid 5px crimson;
    border-radius: 20px;
}

.title_login{
  background: -webkit-linear-gradient(#47c2fe, #a535f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
